[submodule "External/saiga"]
	path = External/saiga
	url = https://github.com/darglein/saiga/
[submodule "External/tensorboard_logger"]
	path = External/tensorboard_logger
	url = https://github.com/RustingSword/tensorboard_logger
